Source: retrosmart-qtcurve-theme
Section: main
Priority: optional
Maintainer: Manuel Domínguez López <@mail@>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/mdomlop/retrosmart-qtcurve-theme

Package: retrosmart-qtcurve-theme
Architecture: all
Provides: retrosmart-qtcurve-theme
Conflicts: retrosmart-qtcurve-theme-git
Depends: qtcurve (>= 1.8.18)
Description: Classic Retrosmart theme for QtCurve.
